
/* NAVIGATION BAR */


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-text-container {
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 24px; 
}

.navbar-name {
    font-size: 32px; 
    text-transform: uppercase;
    font-weight: bold;
}

.spacer {
    flex-grow: 1;
}

.menu-items {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.menu-items li {
    margin-left: 20px; 
}

.cta-signin {
    font-weight: bold;
}

span {
    color: red;
}

/* HERO STUFF */

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
    padding: 24px;
}

.hero-banner {
    width: 10%;
    height: 10%;
    margin-left: 24px;
    padding: 24px;
    background-color: grey;
    flex: 1;
}

.hero-banner img {
    width: 100%;
    height: auto;
}

.hero-text {
    flex: 1;
    padding-left: 24px;
}

.hero-text h1 {
    margin: 0;
    font-size: 2em;
}

.hero-text p {
    margin: 16px 0;
    font-size: 1.2em;
}

.cta-signup {
    padding: 12px 24px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}